Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache
Package Control.ca-certs
ColorPicker
/linters/*
/linters
/ColorPicker
/Color Highlighter*
/Package Control.sublime-settings
/Package Control.merged-ca-bundle
/Package Control.user-ca-bundle

/.SublimeREPLHistory/*.db
/*.bak
/FileHistory*
*.cache
/Tomorrow-Night*.tmTheme
*.last-run
/Colorsublime/themes
/*.tmTheme
/HTML/HTML.tmLanguage
/HTML/sublimelinter.version
/Rails/HTML (Rails).tmLanguage
/Rails/sublimelinter.version
